{% extends 'base.html' %}
{% block content %}

<h1>Streaming Service List</h1>

{% for stream in stream_list %}
  <a href="{% url 'streams_detail' stream.id %}">
    <div class="card">
        <div class="card-content">
          <span style="color: {{ stream.color }}" class="card-title center">{{ stream.name }}</span>
        </div>
    </div>
  </a>
{% endfor %}
<a href="{% url 'streams_create' %}">
  <input type='button' value="Add Streaming Service" class="btn indigo darken-4">
  </a>

{% endblock %}