@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Dosis', sans-serif;
    color: white;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer {
    padding-top: 0;
    text-align: right;
  }

  header {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    left: 0px;
    margin-left: 0;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../media/movienight.jpg);
    background-size: cover; 
    height: 97vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-position: center;
  }

  .navbar-fixed {
    z-index: 999; 
 }

  .brand-img img {
    height: 64px;
    padding: 0px;
    width: auto; 
    border-radius: 6px;
  }

  .movie-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  .about-contianer {
    margin-top: 25%;
  }

  .movie-details {
    color: black;
  }